@import "mixins";
$color-primary: rgba(245, 128, 11, 1);

.container {
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  margin-bottom: 12rem;
  width: 80%;
  border-width: 1px;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  h3 {
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  p {
    color: rgba(107, 144, 128, 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  form {
    input {
      border-width: 1px;
      width: 100%;
      border-radius: 0.375rem;
      margin-top: 0.5rem;
      @include dekstop() {
        padding: 0.75rem;
        margin-top: 1rem;
      }
    }
    input:focus {
      border-color: $color-primary;
    }
    button {
      background-color: $color-primary;
      color: rgba(255, 255, 255, 1);
      width: 100%;
      padding: 0.75rem;
      border-radius: 0.375rem;
      margin-top: 0.5rem;
      @include dekstop() {
        margin-top: 2rem;
      }
    }
    button:hover {
      background-color: rgba(180, 83, 9, 1);
    }
  }
  @include dekstop() {
    padding: 3rem;
    width: 33.333333%;
  }
}
